{% include 'partials/header.html' %}
</br>
<div id="AboutMe">
    <p>I worked for Geisinger Health System from 2013 - 2024.  
        My formal job title was Data Analyst, but during my employment, I performed tasks of both a Data Analyst and a Data Engineer.
        A typical day's work involved 70% writing scripts in SQL Server with the remainder creating visualizations in either Excel or Tableau.  
        I learned all of my SQL, dashboarding, data presentation and VBA skills through developing new routine and adhoc reports, inheriting routine reports developed by former co-workers, and enhancing the functionality of the reports.
        I started with providing analytics to the Grievance and Appeals department.  
        After 1 year, I trained my replacement and moved to be the analyst responsible for the Nurse Referrals workload generation.
        After 2 years, I trained my replacement and moved to be the analyst responsible for the Case Management department.
        In each of these roles there were about 25 routine reports with both SQL and excel components.
        I implemented efficiencies each time through SQL stored procedures and Excel VBA.
        After 2 more years, I transitioned to the Digital Transformation department where I worked on various initiatives for the next 5 years.
        <br /> <br />
        A few special projects during my employment with Geisinger included: 
        <br /> 
        - Created a front end user input tool via VBA prompts with its own SQL realtional database and automated data processing 
        <br />
        - Developed a SQL relational database from a new vendor's JSON files
        <br /> <br />
        Between 2019 and 2021, after work hours, I developed my own phone app.
        I completed training via Udemy, and used the Flutter SDK to create the UI with a Firebase backend.  
        The project reached the milestone where it was available on iOS and Android testing sites but I ultimately ended the endeavor due to scope creep and customer disengagement.
        <br /> <br />
        Beginning in 2024, I concluded my employment with Geisinger and started as a freelancer.  
        In addition, I have placed a heavy emphasis on completing trainings in Software Development, Website Development and Database Administration.
    </p>  
</div>
{% include 'partials/footer.html' %}