{% include 'partials/header.html' %}
<div class="FlexColumn CenterVertHoriz">
    <img src="static/images/home-page.jpg" id="HomeImg" alt="Penrose Impossible Triangle" />
    <h1 id="title" class="gradient-textcolor">Hello!<br />I'm Jonathan Hardenstine</h1>
    <h6>Users deserve an interface that is logical and effective</h6>
    <h5>Leadership wants to utilize data to make future decisions</h5>
    <h4>With proper structure and planning both are achievable</h4>
</div>
{% include 'partials/footer.html' %}
   